<% layout('layout') %>

<% include ../partials/sidebar %>
<h1 class="text-center">Accueil</h1>

<section class="accueil">
<form action="/Enlevement" method="POST" class="text-center">
<div class="container">

<div class="row">

<div class="col-md-3">
    <div class="card CardService CardPosition"> <!-- CARD DEBUT -->
        <div><a class="btn btn-default-color-dark" data-toggle="collapse" href="#REPASSAGE" aria-expanded="false" aria-controls="REPASSAGE"><img src="/images/Fer.ico" alt="fer"/> Repassage</a></div>
        <div class="collapse" id="REPASSAGE">
            <div class="table-responsive text-nowrap">
            <table class="table table-sm">
                <tbody>
                <tr>
                    <th scope="row"><a class="add-to-cart" href="#" data-name="Chemise | REPASSAGE" data-price="100" >Chemise 100 Fcfa</a></th>
                </tr>
                <tr>
                    <th scope="row"><a class="add-to-cart" href="#" data-name="Pantalon Tissu | REPASSAGE" data-price="100" >Pantalon Tissu  100 Fcfa</a></th>
                </tr>
                <tr>
                    <th scope="row">Pantalon Jean   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Robe   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Jupe   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Pull   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Tee Shirt   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Veste   XOF100</th>
                </tr>
                <tr>
                    <th scope="row">Veste En Cuir   XOF100</th>
                </tr>
                <tr>
                    <th scope="row">Manteau   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Veste De Survêtement   XOF100</th>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div> <!-- CARD FIN -->
    
    
    <div class="card CardService Marge CardPosition">
        <div><a class="btn btn-default-color-dark" data-toggle="collapse" href="#LAVERIE" aria-expanded="false" aria-controls="LAVERIE"><img src="/images/Laver.ico" alt="laver"/> LAVERIE</a></div>
        <div class="collapse" id="LAVERIE">
            <div class="table-responsive text-nowrap">
            <table class="table table-sm">
                <tbody>
                <tr>
                    <th scope="row"><a class="add-to-cart" href="#" data-name="Chemise | LAVERIE" data-price="100" >Chemise 100 Fcfa</a></th>
                </tr>
                <tr>
                    <th scope="row"><a class="add-to-cart" href="#" data-name="Pantalon Tissu | LAVERIE" data-price="100" >Pantalon Tissu 100 Fcfa</a></th>
                </tr>
                <tr>
                    <th scope="row"> Pantalon Jean   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Robe   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Jupe   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Pull   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Tee Shirt   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Veste   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Veste En Cuir   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Manteau   XOF100</th>
                </tr>
                <tr>
                    <th scope="row"> Veste De Survêtement   XOF100</th>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
  

<div class="card CardService Marge CardPosition">
    <div><a class="btn btn-default-color-dark" data-toggle="collapse" href="#NETTOYAGE" aria-expanded="false" aria-controls="NETTOYAGE"><img src="/images/Nettoyage.ico" alt="Nettoyage"/> NETTOYAGE A SEC</a></div>
    <div class="collapse" id="NETTOYAGE">
        <div class="table-responsive text-nowrap">
        <table class="table table-sm">
            <tbody>
            <tr>
                <th scope="row">Chemise   XOF100</th>
            </tr>
            <tr>
                <th scope="row">Pantalon Tissu   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Pantalon Jean   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Robe   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Jupe   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Pull   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Tee Shirt   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Veste   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Veste En Cuir   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Manteau   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Veste De Survêtement   XOF100</th>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="card CardService Marge CardPosition">
    <div><a class="btn btn-default-color-dark" data-toggle="collapse" href="#BLANCHISSERIE" aria-expanded="false" aria-controls="BLANCHISSERIE"><img src="/images/Blanchisserie.ico" alt="Blanchisserie"/> BLANCHISSERIE</a></div>
    <div class="collapse" id="BLANCHISSERIE">
        <div class="table-responsive text-nowrap">
        <table class="table table-sm">
            <tbody>
            <tr>
                <th scope="row">Chemise   XOF100</th>
            </tr>
            <tr>
                <th scope="row">Pantalon Tissu   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Pantalon Jean   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Robe   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Jupe   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Pull   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Tee Shirt   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Veste   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Veste En Cuir   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Manteau   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Veste De Survêtement   XOF100</th>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="card CardService Marge CardPosition">
    <div><a class="btn btn-default-color-dark" data-toggle="collapse" href="#TRAITEMENT" aria-expanded="false" aria-controls="TRAITEMENT"><img src="/images/Traitement.ico" alt="Traitement"/> TRAITEMENT</a></div>
    <div class="collapse" id="TRAITEMENT">
        <div class="table-responsive text-nowrap">
        <table class="table table-sm">
            <tbody>
            <tr>
                <th scope="row">Chemise   XOF100</th>
            </tr>
            <tr>
                <th scope="row">Pantalon Tissu   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Pantalon Jean   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Robe   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Jupe   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Pull   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Tee Shirt   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Veste   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Veste En Cuir   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Manteau   XOF100</th>
            </tr>
            <tr>
                <th scope="row"> Veste De Survêtement   XOF100</th>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

</div>

<div class="col-md-6" id="Form">
<div class="row">
<div class="col-md-6">
<div class="mb-1">
<label for="Date" class="grey-text font-weight-light text-left">Date De Recuperation</label>
<input type="text" id="Date" name="date" class="form-control datepicker" placeholder="Date">
</div>
</div>
<div class="col-md-6">
<div class="mb-1">
<label for="Heure" class="grey-text font-weight-light text-left">Heure De Recuperation</label>
<input type="text" id="Heure" name="heure" class="form-control timepicker" placeholder="Heure">
</div>
</div>
</div>
<div class="mb-1">
<label for="Lieu" class="grey-text font-weight-light text-left">Adresse De Récupération</label>
<input type="text" id="Lieu" name="lieu" class="form-control" placeholder="Adresse">
</div>
<div class="mb-1">
<label for="Tel" class="grey-text font-weight-light text-left">Numero de Telephone</label>
<input type="text" id="Tel" name="tel" class="form-control" placeholder="0699387270">
</div>
<div class="mb-5">
<label for="comments" class="grey-text font-weight-light text-left">Commentaire</label>
<textarea type="text" id="comments" name="comments" class="form-control" rows="2"></textarea>
</div>

<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFile">Télécharger</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01"
        aria-describedby="inputGroupFile">
      <label class="custom-file-label" for="inputGroupFile01">Importer Des Photos</label>
    </div>
  </div>

</div>

<div class="col-md-3" id="Panier">
    <div class="card Envoyer"> 
    <div class="text-center"> 
        <div class="row">
            <div class="col-md-8 Envoie font-weight-bold">
                <div><i class="fas fa-truck"></i> Total Articles : <span id="count-cart"></span></div>
                <div>Montant Total : Fcfa <span id="total-cart" name="total-cart"></span></div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-default-color-dark btn-rounded" type="submit" id="envoyer" value="envoyer" name="envoyer">Envoyer</button>
            </div>
        </div>

            <ul id="show-cart" class="list-group">
            <li class="list-group-item">???????</li>
            </ul>
            
    
    
    </div>
</div>
    
</div>

</div>

</div> 
</form>
</section>